<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>出品画面</title>
	<!--  Bootstrapの設定 -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" ></link>
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!--  CSSの設定 -->
    <link th:href="@{/css/bookList.css}" rel="stylesheet"></link>
</head>
<body>
	<header>
		<nav class="nav navbar-expand-md navbar navbar-dark bg-dark" role="navigation">
	        <div class="navbar-header">
	            <a class="navbar-brand" th:href="@{/}">BURU</a>
	        </div>
	        <div>
	            <ul class="navbar-nav">
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/login}">ログイン</a>
	                </li >
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/userRaegistlation}">ユーザー登録</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/addBooks}">出品</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/userRaegistlation}">マイページ</a>
	                </li>
	            </ul>
	        </div>
	        <form class="ml-auto form-inline">
	        	<input class="form-control mr-sm-2" type="search" >
	        	<button type="submit" class="btn btn-success my-2 my-sm-0">検索</button>
	        </form>
	      </nav>
	</header>
	<main>
		<div class="container">
	  		<div class="page-header text-center">
	  			<h1>サインアップ</h1>
	  		</div>
	  		<div class="row">
	  		<form method="post" th:action="@{/customers}" class="col-8 mx-auto" th:object="${signUpCustomersForm}">
				<table class="table table-bordered table-hover">
					<tr>
						<th class="active">ユーザー名</th>
						<td class="active">
						<div class="form-group">
							<input type="text" class="form-control" th:field="*{customerCode}"/>
						</div>
						</td>
					</tr>
					<tr>
						<th class="active">パスワード</th>
						<td>
						<div class="form-group" >
							<input type="password" class="form-control" th:field="*{password}"/>
						</div>
						</td>
					</tr>
				</table>
			<button class="btn btn-primary mx-auto d-block" type="submit">サインアップ</button>
	  		</form>
	  		</div>
  		</div>
	</main>
</body>
</html>