<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品詳細（商品名）</title>
	<!--  Bootstrapの設定 -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" ></link>
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!--  CSSの設定 -->
    <link th:href="@{/css/bookList.css}" rel="stylesheet"></link>
<body>
	<header>
		<nav class="nav navbar-expand-md navbar navbar-dark bg-dark" role="navigation">
	        <div class="navbar-header">
	            <a class="navbar-brand" th:href="@{/}">BURU</a>
	        </div>
	        <div>
	            <ul class="navbar-nav">
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/login}">ログイン</a>
	                </li >
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/userRaegistlation}">ユーザー登録</a>
	                </li>
	            </ul>
	        </div>
	        <form class="ml-auto form-inline">
	        	<input class="form-control mr-sm-2" type="search" >
	        	<button type="submit" class="btn btn-success my-2 my-sm-0">検索</button>
	        </form>
	      </nav>
	</header>
	<main>
		<div class="container">
				<form method="post" th:action="@{/BuyBook}" th:object="${addBooksForm}">
					<div class=”row“>
					<div class=”page-header form-group”>
						<h1 class="text-center" th:text="*{bookName}" ></h1>
					</div>
					</div>
					<div class=”row“>
						<div class=”form-group“ style="display: inline-block">
							<img th:src="@{*{image}}">
						</div>
						<div class=”form-group” style="display: inline-block">
							<table class="table table-bordered table-hover form-group">
								<tr>
									<th class="info active">詳細</th>
								 	<td>
								 		<div class="form-group" >
								 			<span class="form-control" th:text="*{description}"></span>
								 		</div>
								 	</td>
								 </tr>
								 <tr>
									<th class="info active">価格</th>
								 	<td>
								 		<div class="form-group">
								 			<span class="form-control" th:text="*{price}" ></span>
								 		</div>
								 	</td>
								 </tr>
							</table>
							<a class="btn btn-primary btn-lg pull-left" th:href="@{/}">戻る</a>
							<button class="btn btn-danger btn-lg pull-right" type="submit">購入</button>
						</div>
					</div>
				</form>
				<form method="post" th:action="@{/Comment}">
					<p>
					<textarea cols="100" rows="10" maxlength="1000" placeholder="コメント欄"></textarea>
					<br />
					<input class="btn btn-success" type="submit" name="button" />
					</p>
				</form>
			</div>
	</main>
</body>
</html>